#main-page-h1{
    background-color: beige;
    color: green;
    text-align: center;
    font-weight: bold;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: bisque;
}

.list{
    font-size: 20px;
    color: rgb(226, 205, 16);
}


.lasagna,
.hamburger,
.pizza{
    background-color: lightsalmon;
}

.lasagna h3,
.hamburger h3,
.pizza h3{
    color: rgb(226, 124, 0);
    font-size: 26px;
}

.lasagna p,
.hamburger p,
.pizza p{
    color: gold;
    font-size: 20px;
}

.lasagna h1,
.hamburger h1,
.pizza h1{
    color: red;
}

.lasagna img,
.pizza img,
.hamburger img {
    height: auto;
    width: 800px;
}

.lasagna h1,
.hamburger h1,
.pizza h1{
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}